/* label color */
.input-field label {
    color: #00bcd4  ;
  }

  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #aa00ff ;
    box-shadow: 0 1px 0 0 #aa00ff ;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #ffc107  ;
    box-shadow: 0 1px 0 0 #ff8f00 ;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #3e2723 ;
    box-shadow: 0 1px 0 0 #ffab40 ;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #ff8f00 ;
  }