/*importar otros css*/
@import url(menu.css);

/* Resetear */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav.navbar{
    position: absolute;
    width: 100%;
    height: 80px;
    background: #F8A841;
    /* Se quede posicionado el header */
    position: fixed;

}

/* letra responsiva */
html {
    font-size: 1rem;
  }