nav ul li a{
    /* LETRA*/
    position: static;
    width: 98px;
    height: 22px;
    left: 571px;
    top: 39px;
    font-family: Montserrat Alternates;
    font-size: 18px;
    text-align: center;
    /* identical to box height */
    color: #283A78;
}

nav ul li a:hover {
        /* BOTONES NAV*/
        width: 100px;
        height: 50px;
        top: 25px;
        background: #38C5C2;
        border-radius: 20px;
        overflow: hidden;
        padding: 10px;
        margin: 10px;
        text-decoration: none;
        color: #283A78;
  }